#header {
    margin-top: 10px
}

#header #headerBrand {
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 20px;
    margin-right: 35px;
}

@media (max-width: 767px) {
    #header #headerBrand {
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin-left: 0px;
        margin-right: 35px;
    }
}
    

#header hr {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

  