$top-search-bar-radius: 8px;

.search-bar {
    border-radius: $top-search-bar-radius;
    background-color: #DDDDDD;
    transition: all 1s;
}

.search-bar input {
    border-radius: $top-search-bar-radius;
    background-color: transparent;
    border-right: none;
    padding: 20px;
    transition: none;
    border-color: transparent;
    color: #5279DB;
}

.search-bar input:focus,
.search-bar button:focus,
.search-bar button:active,
.search-bar button:active:focus {
    box-shadow: none !important;
    outline: 0 none !important;
    //border: none !important;
    transition: none;
    background-color: #DDDDDD;
    
}

.search-bar:focus-within {
    border-radius: $top-search-bar-radius;
    box-shadow: 0 0 0 0.1rem #5279DB;
    
}

.search-bar:focus-within button {
    //border: none;
    transition: none;
    box-shadow: none;
    transition: all 1s;

}

.search-bar:focus-within input {
    //border: none;
    transition: none;
    box-shadow: none;
    
}

.search-bar button {
    border-radius: $top-search-bar-radius;
    background-color: transparent;
    color: #5279DB;
    border-left: none;
    transition: none;
    border-color: transparent;
}

.search-bar.search-border button, .search-bar.search-border input {
    border-color: #5279DB !important;
    border-width: 1.5px;
}